# Pandas

Pandas permet d'associer des labels aux tableaux, on a deux types de tableaux en pandas
- tableau a 1 dimenssions : series
- tableau a 2 dimenssions : DataFrame

Panda a deux points forts
- acces optimisés des données dans le tableau
- permet de faire des traitements des données comme des additions 

Formats de données supportés : txt, excel, csv, json, jython, sql ...

### Serie
une serie est composé de index et de data 
- s.loc[name_index] : pour acceder au data grace a l'index
  un slider de s.loc[i:j] va de i a j inclus
- s.iloc[range] : acceder a l'indice grace au rang
 un slice de s.iloc[i:j] va de i a j exclus

In [1]:
import pandas as pd
import numpy as np

In [2]:
s = pd.Series([20, 30, 40, 50], index=['eve', 'bill', 'liz', 'bob'])

In [3]:
s

eve     20
bill    30
liz     40
bob     50
dtype: int64

In [4]:
s.values

array([20, 30, 40, 50])

In [5]:
s.index

Index(['eve', 'bill', 'liz', 'bob'], dtype='object')

In [6]:
s.loc['eve']

20

In [7]:
s['eve'] # c'est deconseille TRES FORTEMENT pour des soucis de performances

20

In [8]:
s.loc['eve': 'liz']

eve     20
bill    30
liz     40
dtype: int64

La relation d'ordre est defini a la creation de la serie

In [9]:
s = pd.Series([20, 30, 40, 50], index=['eve','liz','bill',  'bob'])
s.loc['eve': 'liz']

eve    20
liz    30
dtype: int64

le slicing ne marche si
- label dublique
- si label n'est pas trie

In [17]:
animaux = ['chien', 'chat', 'chat', 'chien', 'poissoin']
proprio = ['eve', 'bob', 'eve', 'bill', 'liz']
s = pd.Series(animaux, index=proprio)
s

eve        chien
bob         chat
eve         chat
bill       chien
liz     poissoin
dtype: object

In [18]:
s.loc['eve': 'liz']

KeyError: "Cannot get left slice bound for non-unique label: 'eve'"

In [19]:
s = s.sort_index()
s.loc['eve': 'liz']

eve       chien
eve        chat
liz    poissoin
dtype: object

In [20]:
s

bill       chien
bob         chat
eve        chien
eve         chat
liz     poissoin
dtype: object

In [21]:
s.iloc[1:3]

bob     chat
eve    chien
dtype: object

In [24]:
s.loc[ (s=='chien') | (s== 'poissoin')]

bill       chien
eve        chien
liz     poissoin
dtype: object

In [25]:
s.loc[ (s=='chien') | (s== 'poissoin')] = 'autre'
s

bill    autre
bob      chat
eve     autre
eve      chat
liz     autre
dtype: object

In [26]:
s1 = pd.Series([1,2,3], index=list('abc'))
s2 = pd.Series([5,6,7], index=list('acd'))

In [27]:
s1

a    1
b    2
c    3
dtype: int64

In [28]:
s2

a    5
c    6
d    7
dtype: int64

In [30]:
s1 + s2

a    6.0
b    NaN
c    9.0
d    NaN
dtype: float64

si les index de s1 ne sont pas present dans s2 on aura un NaN(Not a Number)

In [32]:
s1.add(s2, fill_value=0)#add permet de corriger ce probleme

a    6.0
b    2.0
c    9.0
d    7.0
dtype: float64

In [ ]:
### DataFrame
il existe plusieurs manieres de creer un dataFrame

In [34]:
# creer un DataFrame via les series
prenoms = ['liz','bob','bill','eve']
age = pd.Series([25,30,35,40], index=prenoms)
taille = pd.Series([160, 175,170, 180], index=prenoms)
sexe = pd.Series(list('fhhf'), index=prenoms)

df = pd.DataFrame({
    'age':age, 'taille':taille, 'sexe':sexe
})

df

      age  taille sexe
liz    25     160    f
bob    30     175    h
bill   35     170    h
eve    40     180    f

In [35]:
# Recuperer les index
print('Index')
print(df.index)

# Recuperer les colonnes
print("Columns")
print(df.columns)

# Recuperer les valeurs
print("Values")
print(df.values)

# Recuperer les 1ere lignes
print("Head")
print(df.head())

# Recuperer les dernieres lignes
print("Tail")
print(df.tail())

# Faire une descriptions des donnees
print('Faire une descriptions des donnees')
print(df.describe())

Index
Index(['liz', 'bob', 'bill', 'eve'], dtype='object')
Columns
Index(['age', 'taille', 'sexe'], dtype='object')
Values
[[25 160 'f']
 [30 175 'h']
 [35 170 'h']
 [40 180 'f']]
Head
      age  taille sexe
liz    25     160    f
bob    30     175    h
bill   35     170    h
eve    40     180    f
Tail
      age  taille sexe
liz    25     160    f
bob    30     175    h
bill   35     170    h
eve    40     180    f
Faire une descriptions des donnees
             age      taille
count   4.000000    4.000000
mean   32.500000  171.250000
std     6.454972    8.539126
min    25.000000  160.000000
25%    28.750000  167.500000
50%    32.500000  172.500000
75%    36.250000  176.250000
max    40.000000  180.000000

#### Manipulations des DataFrames

In [36]:
# Lignes | Index | loc
df.loc['liz']

age        25
taille    160
sexe        f
Name: liz, dtype: object

In [37]:
#Recuperer une ligne et une colonne
df.loc['liz', 'age']

25

In [38]:
df.loc[:, 'age']

liz     25
bob     30
bill    35
eve     40
Name: age, dtype: int64

In [39]:
df.loc[:, 'age'] < 32

liz      True
bob      True
bill    False
eve     False
Name: age, dtype: bool

In [40]:
df.loc[df.loc[:, 'age'] < 32]

     age  taille sexe
liz   25     160    f
bob   30     175    h

In [41]:
# changer les index en colonnes
df = df.reset_index()
df

  index  age  taille sexe
0   liz   25     160    f
1   bob   30     175    h
2  bill   35     170    h
3   eve   40     180    f

In [44]:
df = df.rename(columns={'index':'prenom'})
df

  prenom  age  taille sexe
0    liz   25     160    f
1    bob   30     175    h
2   bill   35     170    h
3    eve   40     180    f

In [45]:
# changer une colonne en index
df = df.set_index("age")
df

    prenom  taille sexe
age
25     liz     160    f
30     bob     175    h
35    bill     170    h
40     eve     180    f

In [47]:
# creer un DataFrame via les series
prenoms = ['liz','bob','bill','eve']
age = pd.Series([25,30,35,40], index=prenoms)
taille = pd.Series([160, 175,170, 180], index=prenoms)
sexe = pd.Series(list('fhhf'), index=prenoms)

df = pd.DataFrame({
    'age':age, 'taille':taille, 'sexe':sexe
})

df

      age  taille sexe
liz    25     160    f
bob    30     175    h
bill   35     170    h
eve    40     180    f

In [48]:
df = (
  df.reset_index()
    .rename(columns={'index':"name"})
    .set_index('age')
)
df

     name  taille sexe
age
25    liz     160    f
30    bob     175    h
35   bill     170    h
40    eve     180    f

In [56]:
df1 = pd.DataFrame(np.ones((2,2)), index=list('ab'),columns=list('xy'))
df2 = pd.DataFrame(np.ones((2,2)), index=list('ac'),columns=list('xz'))
print(df1)
print(df2)

     x    y
a  1.0  1.0
b  1.0  1.0
     x    z
a  1.0  1.0
c  1.0  1.0

In [57]:
df1 + df2

     x   y   z
a  2.0 NaN NaN
b  NaN NaN NaN
c  NaN NaN NaN

In [58]:
df1.add(df2, fill_value=0)

     x    y    z
a  2.0  1.0  1.0
b  1.0  1.0  NaN
c  1.0  NaN  1.0

In [63]:
df3 = df1.add(df2, fill_value=0)
df3 
print(df3.fillna(0))
print(df3.dropna())

     x    y    z
a  2.0  1.0  1.0
b  1.0  1.0  0.0
c  1.0  0.0  1.0
     x    y    z
a  2.0  1.0  1.0

### Pandas Operations avancees

In [2]:
df1 = pd.DataFrame(np.random.randint(1,10, size=(2,2)),
                   columns=list('ab'),index=list('xy'))
df2 = pd.DataFrame(np.random.randint(1,10, size=(2,2)), 
columns=list('ab'),index=list('zt'))
print(df1)
print(df2)

   a  b
x  5  1
y  7  8
   a  b
z  5  4
t  5  8

#### 1- concatenation

In [3]:
pd.concat([df1, df2]) # ajoute les colonnes l'une sur l'autre

   a  b
x  5  1
y  7  8
z  5  4
t  5  8

In [4]:
# ajouter les ligne sur les ligne
df1 = pd.DataFrame(np.random.randint(1,10, size=(2,2)),
                   columns=list('ab'),index=list('xy'))
df2 = pd.DataFrame(np.random.randint(1,10, size=(2,2)), 
columns=list('cd'),index=list('xy'))
pd.concat([df1, df2], axis=1)

   a  b  c  d
x  4  8  5  3
y  6  8  1  2

###  Merge

In [5]:
# join existe aussi dans pandas mais merge contient 
# plus de fonctionnalités

In [8]:
df1 = pd.DataFrame({
    'personnel':['Bob', 'Lisa', 'Sue'],
    'groupe': ['SAF', 'R&D', 'RH']
})
df2 = pd.DataFrame({
    'personnel':['Lisa', 'Bob', 'Sue'],
    'date embamche': [2004, 2008, 2014]
})
print(df1)
print(df2)
print(pd.merge(df1,df2))

  personnel groupe
0       Bob    SAF
1      Lisa    R&D
2       Sue     RH
  personnel  date embamche
0      Lisa           2004
1       Bob           2008
2       Sue           2014
  personnel groupe  date embamche
0       Bob    SAF           2008
1      Lisa    R&D           2004
2       Sue     RH           2014

#### Regrouppement et pivot

In [11]:
import seaborn as sb

In [12]:
ti = sb.load_dataset('titanic').loc[:, ['survived','sex', 'class']]
ti.head()

   survived     sex  class
0         0    male  Third
1         1  female  First
2         1  female  Third
3         1  female  First
4         0    male  Third

In [17]:
ti.shape

(891, 3)

In [15]:
ti.describe()

         survived
count  891.000000
mean     0.383838
std      0.486592
min      0.000000
25%      0.000000
50%      0.000000
75%      1.000000
max      1.000000

In [18]:
ti.loc[ti.loc[:,'class']=='Second', 'survived'].mean()

0.47282608695652173

In [19]:
ti.groupby('class').mean()

        survived
class
First   0.629630
Second  0.472826
Third   0.242363

In [20]:
ti.groupby(['class','sex']).mean()

               survived
class  sex
First  female  0.968085
       male    0.368852
Second female  0.921053
       male    0.157407
Third  female  0.500000
       male    0.135447

In [21]:
ti.pivot_table('survived', 
               aggfunc=np.mean,
               index='class',
               columns='sex',
              )

sex       female      male
class
First   0.968085  0.368852
Second  0.921053  0.157407
Third   0.500000  0.135447